* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(230, 230, 230);
}

.page-wrapper {
  display: flex;
  justify-content: center;
}

.calc-wrapper {
  background-color: rgba(160, 160, 160, 1.808);
  width: 70%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

#input-calc {
  background-color: rgb(173, 173, 173);
  border-radius: 2rem;
  padding: 1rem 6rem;
  margin-top: 2rem;
}